certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
mysql-connector-python==8.2.0
plyer==2.1.0
protobuf==4.21.12
pyobjus==1.2.3
pytz==2023.3.post1
requests==2.31.0
urllib3==1.26.15
beautifulsoup4==4.12.0
sqlalchemy==2.0.35